@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.3;
  @apply font-sans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon-size {
  height: 1.2rem;
  padding-bottom: 0.1rem;
}

.header-my {
  @apply my-8;
  @apply md:my-16;
}

.text-normal {
  font-size: 1.2rem;
}

.text-size-inherit {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  @apply font-serif;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply font-mono !important;
  font-size: 16px;
}

h1 {
  font-size: -moz-calc(1.375rem + 1.5vw);
  font-size: calc(1.375rem + 1.5vw);
}
h2 {
  font-size: -moz-calc(1.325rem + 0.9vw);
  font-size: calc(1.325rem + 0.9vw);
}
h3 {
  font-size: -moz-calc(1.3rem + 0.6vw);
  font-size: calc(1.3rem + 0.6vw);
}
h4 {
  font-size: -moz-calc(1.275rem + 0.3vw);
  font-size: calc(1.275rem + 0.3vw);
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

td,
th {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

input[type="range"] {
  -webkit-appearance: none;
  cursor: ew-resize;
  height: 12px;
  background: rgb(232, 232, 242);
  border-radius: 6px;
  background-image: linear-gradient(to right, #6ee7b7, #c4b5fd);
  background-repeat: no-repeat;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #c4b5fd;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.has-tooltip {
  @apply flex flex-col items-start;
}

.tooltip {
  @apply invisible absolute;
  @apply bg-black text-gray-50 p-2 mx-6 rounded;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
